header{
  position: fixed; 
  top: 0; 
  width: 100%; 
  background-color: lightgray;
  display: flex;
  justify-content:space-between ;
}
#notes-body{
  display: flex;
  margin-top: 15%;
}

.note-title{
  text-align: center;
  padding-left: 45%;
}

.title-bar{
  display: flex;
}

.note-text{
  font-size: 14px;
}

.notes-list{
  display: flex;
  background-color: darkgray;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.list-note{
  height: 20%;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
}

